/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
  --pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
}
/* End Global styles */

/* Header and Navbar section styles */
header {
  background-color: var(--pale-cyan);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 1.2rem;
}
#logo {
  height: 1.4rem;
}
#free-trial-btn {
  background-color: var(--white);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px hsla(192, 100%, 9%, 0.3);
  color: var(--dark-cyan);
  height: 2rem;
  width: 8rem;
}
/* End Header and navbar section styles */

/* Hero showcase section styles */
.hero {
  background-image: url('./images/bg-hero-mobile.svg');
  background-size: contain;
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.5em;
}
#huddle-img {
  height: 15em;
  width: 22em;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Poppins', sans-serif;
  width: 20rem;
}
.hero-text {
  font-family: 'Open Sans', sans-serif;
  /* width: 80%; */
  width: 340px;
}
.cta-btn {
  background-color: var(--pink);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px hsla(192, 100%, 9%, 0.3);
  color: var(--white);
  height: 50px;
  width: 70%;
  font-size: 16px;
  font-weight: 700;
}
/* End Hero showcase section styles */

/* Main section styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.cta-info {
  height: 500px;
  width: 90%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  border-radius: 20px;
  box-shadow: 0px 1px 5px hsla(208, 11%, 55%, 0.3);
  overflow: hidden;
  padding: 2rem;
}
.cta-info > img {
  height: 15rem;
  width: 17rem;
}
.cta-heading {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-cyan);
}
.cta-p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: var(--grayish-blue);
}
.cta-card {
  width: 90%;
  height: 200px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 1px 5px hsla(208, 11%, 55%, 0.3);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  position: relative;
  top: 150px;
  
  background-color: var(--white)
}
.card-btn {
  font-size: 14px;
}
/* End Main section styles */

/* Footer section styles */
footer {
  background-color: var(--dark-cyan);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 10rem 5% 5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
/* footer > * {
  border: 1px solid white;
} */
#footer-logo {
  height: 4rem;
  width: 12.5rem;
  margin: 1rem 0;
}
/* .contact-details > * {
  border: 1px solid white;
} */
.social-links {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  width: 40%;
  margin: 2rem auto;
}
.footer-links {
  list-style: none;
  margin: 1.5rem 0;
}
.footer-links li {
  margin: 1rem 0;
}
.icon-span {
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.fa-brands {
  font-size: 22px;
}
.contact-details {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 1rem 0;
}
.copyrights {
  margin: 0 auto;
}
/* End Footer section styles */