* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #443f5c;
  min-height: 100vh;
}
a {
  color: white;
  font-variant: small-caps;
  margin: 10px;
}
#container {
  display: grid;
  grid-template-columns: 200px 110px 110px 200px;
  grid-template-rows: 180px 90px 110px;
  grid-template-areas: 
    "div-1 div-1 div-1 div-2"
    "div-3 div-3 div-4 div-4"
    "div-3 div-3 div-5 div-5";
  gap: 10px;
  justify-content: center;
  margin: 5% auto;
}
.div1 {
  background-color: #f63c00;
  grid-area: div-1;
}
.div2 {
  background-color: #ffa800;
  grid-area: div-2;
}
.div3 {
  background-color: #00b946;
  grid-area: div-3;
}
.div4 {
  background-color: #279eff;
  grid-area: div-4;
}
.div5 {
  background-color: #279eff;
  grid-area: div-5;
}