@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:ital@0;1&family=Roboto:wght@700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 5%;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}
img {
  height: 300px;
  width: 400px;
}
#hero {
  display: flex;
  background-color: rgb(245, 245, 245);
}
#img-div {
  width: 45%;
}
#img-caption {
  font-size: small;
}
#desc {
  width: 55%;
  text-align: center;
}
#desc > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#desc > h2, p {
  margin: 5%;
}
#tribute-info > h3 {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
}
ul {
  list-style-type: none;
}
li > h3, p {
  margin: 20px;
}
li > h3 {
  font-family: 'Abril Fatface', cursive;
}
blockquote {
  margin: 20px;
}