@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Mono:wght@400;700&display=swap');
:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --mono-font: 'Roboto Mono', monospace;
  --normal-font: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--navy);
  color: var(--white);
  font-family: var(--normal-font);
}

/* Navbar Section */
.navbar {
  align-items: center;
  display: flex;
  /* padding: 2rem 3rem; Style for desktop version */
  padding: 1.5rem 2rem;
  justify-content: space-between;
  width: 100vw;
}
#logo {
  color: var(--green);
  font-family: var(--mono-font);
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}
.page-links {
  display: flex;
  font-family: 'Roboto', monospace;
  list-style-type: none;
}
.page-links li a {
  color: var(--lightest-slate);
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}
span {
  color: var(--green);
  font-family: 'Roboto', monospace;
  font-weight: 400;
}
/* End Navbar section */

/* Main section */
main {
  /* Style for desktop version
  margin-left: 3rem;
  margin-right: 3rem; 
  padding: 2rem 3rem; 
  */
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
}
  /* Hero/Showcase Section */
.hero-section {
  /* Style for desktop version
  padding: 2rem 3rem; 
  */
  height: 80vh;
}
#hero-intro {
  color: var(--slate);
  font-family: var(--mono-font);
  margin-bottom: 1.5rem;
}
#hero-name, #hero-title {
  font-size: 6vmax;
}
#hero-name {
  color: var(--lightest-slate);
}
#hero-title, #hero-text {
  color: var(--slate);
}
#hero-text {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  /* Style for desktop 
  width: 60%; 
  */
}
.btn {
  background-color: var(--navy);
  border: 1px solid var(--green);
  border-radius: 5px;
  color: var(--green);
  cursor: pointer;
  font-family: var(--mono-font);
  font-size: 14px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
#connect-btn {
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
  /* End Hero/Showcase Section */

  /* About Section */
.about-section {
  color: var(--light-slate);
  display: flex;
  flex-direction: column;
  /* Style for desktop
  flex-direction: row; 
  */
}
.about-section h2 {
  color: var(--lightest-slate);
  margin-bottom: 2rem;
}
/* .about-section {
  margin-bottom: 2rem;
} */
.about-section ul {
  font-family: var(--mono-font);
  list-style: none;
  padding-left: 1em;
}
.about-section ul li::before {
  content: "\25B7";
  color: var(--green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.about-img-div {
  display: inline-block; /* Remove this line for desktop styling */
  margin: 3rem auto; /* Remove this line for desktop styling */
}
.about-img {
  height: 300px;
  width: 300px;
}
  /* End About section */
/* End Main section */

/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin: 1rem 0;
}
.fa {
  color: var(--light-slate);
  font-size: 24px;
}
#copyrights {
  width: fit-content;
  margin: 1rem 0;
}
#copyrights a {
  color: var(--light-slate);
  font-family: var(--mono-font);
  font-size: 14px;
  text-decoration: none;
}
/* End footer section */

/* CONTACT ME PAGE STYLES */
.title {
  color: var(--lightest-slate);
}
.form-field {
  background-color: var(--lightest-slate);
  border: none;
  color: var(--navy);
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
#message-area {
  height: 10rem;
  padding-top: 1rem;
}
#send-btn {
  margin: 2rem 0;
}
  /* Desktop styles */
@media screen and (min-width: 600px) {
  .contact-section {
    width: 70%;
    margin: 0 auto;
  }
}
/* END CONTACT ME PAGE STYLES */

/* REGISTER PAGE STYLES */
/* #regform-div {
  margin-top: 2rem;
} */
.form-div {
  margin-top: 2rem;
}
.register-form {
  display: flex;
  flex-direction: column;
}
.reg-label {
  font-family: var(--mono-font);
  font-size: 14px;
  margin-bottom: -1rem;
}
/* Desktop styles */
@media screen and (min-width: 600px) {
  .register-section {
    width: 70%;
    margin: 0 auto;
  }
  .register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "fn-lbl ln-lbl" 
      "fname lname"
      "email-lbl email-lbl"
      "email email"
      "phone-lbl gender-lbl"
      "phone gender"
      "country-lbl state-lbl"
      "country state"
      "pswd-lbl cpswd-lbl"
      "pswd confirm-pswd"
      "reg-btn reg-btn";
    column-gap: 10px;
  }
  #fname-label {
    grid-area: fn-lbl;
  }
  #fname {
    grid-area: fname;
  }
  #lname-label {
    grid-area: ln-lbl;
  }
  #lname {
    grid-area: lname;
  }
  #email-label {
    grid-area: email-lbl;
  }
  #email {
    grid-area: email;
  }
  #phone-label {
    grid-area: phone-lbl;
  }
  #phone {
    grid-area: phone;
  }
  #gender-label {
    grid-area: gender-lbl;
  }
  #gender {
    grid-area: gender;
  }
  #country-label {
    grid-area: country-lbl;
  }
  #country {
    grid-area: country;
  }
  #state-label {
    grid-area: state-lbl;
  }
  #state {
    grid-area: state;
  }
  #pswd-label {
    grid-area: pswd-lbl;
  }
  #pswd {
    grid-area: pswd;
  }
  #cpswd-label {
    grid-area: cpswd-lbl;
  }
  #confirm_pswd {
    grid-area: confirm-pswd;
  }
  #reg-btn {
    grid-area: reg-btn;
    margin: 20px 0;
  }
}
/* END REGISTER PAGE STYLES */

/* LOGIN PAGE STYLES */

/* END LOGIN PAGE STYLES */